NEXT_PUBLIC_APP_BASE_URL=http://localhost:3000
NEXT_PUBLIC_LIVEKIT_URL=
LIVEKIT_API_KEY=
LIVEKIT_API_SECRET=
REMOTIE_BASIC_USER=
REMOTIE_BASIC_PASSWORD=
REMOTIE_STREAM_TABLE=
REMOTIE_AWS_REGION=ap-northeast-1
REMOTIE_TRANSCRIPT_PROVIDER=placeholder
REMOTIE_TRANSCRIBE_REGION=ap-northeast-1
REMOTIE_TRANSCRIBE_LANGUAGE_CODE=ja-JP
REMOTIE_SUMMARY_MODEL_ID=apac.amazon.nova-lite-v1:0
